/* .vehicle {
  left: -500px;
  position: relative;
  z-index: 1;
  animation: mover 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes mover {
  100% {
    left: 500px;
  }
} */

.container-rxjs {}

.scene {
  display: flex;
  align-items: center;
  position: relative;
  top: 8rem;
}

.station {
  display: flex;
  align-items: end;
  left: 1rem;
  position: relative;
  gap: 10px;
}

.vehicle {
  position: relative;
  //left: -500px;
  justify-content: start;
  align-self: end;
}

.container-operator {}

.barrier {}
