.head {
  background-color: dimgray;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.body {
  background-color: dimgray;
  width: 6rem;
  height: 6rem;
  border-radius: 25% 25% 0 0;
}

.box {
  background-color: black;
  width: 8rem;
  height: 8rem;
}